@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 30px;
  background-color: #008b8b;
  color: #fff;
}

header {
  margin-top: 1rem;
  text-align: center;
}

main {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  min-width: 85px;
  max-width: 250px;
  padding: 8px;
  margin: 1em;
  border-radius: 4px;
  border: 3px solid black;
  font-size: large;
  font-weight: bold;
}

button.refresh,
.flex-row h2 {
  margin-left: 3em;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
}

ul {
  height: 395px;
  overflow: auto;
}

ul li {
  list-style: none;
  padding: 4px 8px;
  color: black;
}

li:nth-child(2n) {
  background: lightgray;
}

ul.list,
input {
  border: 3px solid black;
}

.add-score h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 350px;
  min-width: 250px;
  height: 3em;
  padding: 3px 6px;
  font-size: large;
  margin: 0.5em 1em;
}

input:focus {
  border: 3px solid grey;
  outline: none;
}

.ri-vip-crown-line {
  font-size: 80%;
  margin: 0 1rem;
  color: gold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.ri-github-fill {
  margin: auto 5px;
}
